* {
    font-family : 'Microsoft YaHei';
}

body {
    text-align :center;
}

ul {
    padding: 0 0 0 0;   
    margin: 0 0 0 0;
    list-style:none;
}

.toMiddle {
    height: 100%;
    display: inline-block;
    vertical-align : middle;
}

#button {
    margin: 30% auto auto auto;
    width: 40px;
}

#cover {
    height: 40px;
    width: 40px;
    position:absolute;
    background-color: red;
    opacity: 0;
    border-radius: 50%;
    z-index: 0;
}

#at-plus {
    margin: auto;
    background-color: rgb(129, 129, 129);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s 0.3s, transform 0.5s 0.3s;
}

#at-plus > img {
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 32px;
    vertical-align : middle;
}

#info-bar {
    height: 120px;
    width: 120px;
    background-color : rgb(129, 129, 129);
    border-radius : 50%;
    padding: 10px 10px 10px 10px;
    margin: auto;
    position:absolute;
}

#info-bar li {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

#info-bar li span {
    margin-left: 5px;
}


.mine {
    display: inline-block;
    color:rgb(54, 186, 155);
    font-weight :bold;
}

.page {
    font-weight: bold;
    color: white;
}

.user {
    margin: auto auto 10px auto;
}

.comment {
    font-size: 30px;
}

#control-ring li {
    height: 40px;
    width: 40px;
    background-color: rgb(129, 129, 129);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    transition: background-color 0.5s;
}

#control-ring {
    position:absolute;
}

#control-ring li img {
    vertical-align : middle;
}

.unread {
    height: 23px;
    width:  23px;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-2px, -3px);
    z-index: 7;
}

/* initializations */
#cover {
    transition: transform 0.5s;
}
#info-bar {
    transform: translate(-50px, -200px);
}

#container {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

#control-ring li:nth-child(1) {
    transform: translate(-85px, -90px);
}

#control-ring li:nth-child(2) {
    transform: translate(-100px, -40px);
}

#control-ring li:nth-child(3) {
    transform: translate(-90px, 10px);
}

#control-ring li:nth-child(4) {
    transform: translate(-50px, 50px);
}

#control-ring li:nth-child(5) {
    transform: translate(15px, 60px);
}

/* Animations */

#button:hover #at-plus {
    transition: background-color 0.5s, transform 0.5s;
    background-color : rgb(40, 60, 160);
    transform: scale(1.5);
}

#button:hover #container {
    transition: transform 0.5s 0.2s, opacity 0.5s 0.2s;
    transform: scale(1);
    opacity: 1;
}

#button:hover #cover {
    transform: scale(6.5);
}

#control-ring li:hover {
    background-color: rgb(76, 76, 76);
}

