*{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
	margin: 0;
	padding: 0;
}

#container{
	height: 700px;
	width: 800px;
	float: left;
	background-color: black;
}

.ball{
	height: 40px;
	width: 40px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background-color: white;
}